.container {
  display: flex;
  flex-direction: row; /* row is default */
  height: 100vh;
}

.color {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.hexCode {
  align-self: flex-end;
  padding: 0.6rem;
  background: rgba(240, 240, 240, 0.3);
  margin-bottom: 9rem;
  /* on click select all the text in div */
  -webkit-user-select: all; /* for Safari */
  user-select: all;
}

.info {
}

@media (max-width: 600px) {
  .container {
    /* width: 100; */
    display: flex;
    flex-direction: column;
  }

  .hexCode {
    margin-bottom: 0;
    align-self: flex-start;
  }
}
